################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TsLintCheckInPolicy/bin/Debug
/TsLintCheckInPolicy/obj/Debug
/TsLintInstaller/bin/Debug
/TsLintInstaller/obj/Debug
